.sign-in {
  width: 35vw;
  display: flex;
  flex-direction: column;

  form {
    width: 100%;
  }

  .title {
    margin: 10px 0;
  }

  .sign-in-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
